<section>
    <div class="container mt-4">
        <div class="col-md-6">
            <h2 class="text-center">Add Category</h2>
            <form action="/admin/add-category" method="post" enctype="multipart/form-data">
                   <label>Category</label>
                   <input name="category" type="category" class="form-control" id="category" aria-describedby="nameHelp" placeholder="category">

                   <label>Sub Category</label>
                   <input name="subcategory" type="subcategory" class="form-control" id="subcategory" aria-describedby="nameHelp" placeholder="subcategory">

                   <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>
</section>