<section>
    <div class="container mt-4">
        <div class="col-md-6">
            <h2 class="text-center">Add Coupens</h2>
            <form action="/admin/add-coupens" method="post" enctype="multipart/form-data">
                   <label>Coupen Code</label>
                   <input name="CoupenCode" type="CoupenCode" class="form-control" id="CoupenCode" aria-describedby="nameHelp" placeholder="CoupenCode">

                   <label>Coupen id</label>
                   <input name="Coupenid" type="Coupenid" class="form-control" id="Coupenid" aria-describedby="nameHelp" placeholder="Coupen id">

                   <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>
</section>