<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" />
      <!-- font awesome style -->
      <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="/stylesheets/style.css" rel="stylesheet" />
      <!-- responsive style -->
      <link href="/stylesheets/responsive.css" rel="stylesheet" />
<section>
    <div class="row">
        <div class="container mt-3">
            <div class="col-md-12 text-center"><h2>Order placed Successfully</h2>
                <br>
                <a href="/orders" class="btn btn-success">View Orders</a>
            </div>
            
        </div>
    </div>
</section>